# RENAME THIS FILE TO env.py and vill our the variables below for email functionality
# AWS SES CREDENTIALS
USER='aksjdflasjkflkdf'
PASS='lksafjladksjflaskdjflaskdjflaskdjflaskjdf'
SMTP_HOST='email-smtp.us-west-2.amazonaws.com'
SMTP_PORT=587


SEND_TO=["youremail@gmail.com"]
SEND_FROM="youremail@gmail.com"
USER='aksjdflasjkflkdf'
PASS='lksafjladksjflaskdjflaskdjflaskdjflaskjdf'
SMTP_HOST='email-smtp.us-west-2.amazonaws.com'
SMTP_PORT=587
subject = 'Hello, test email'
body = "You are receiving this email because you have discovered a matching public and private key for a bitcoin address. Please check your server for the keys-found.txt file to see what you have found"
email_text = """From: %s
To: %s
Subject: %s

%s
""" % (END_FROM, ", ".join(SEND_TO), subject, body)
